<h1>
	Welcome to SegfaultAPI
</h1>
<h4>
	<span>Running on port {{port}}</span>
	-
	<a href="https://github.com/ProjectSegfault/SegfaultAPI">GitHub</a>
</h4>
<h2>Current APIs:</h2>
<div class="col">
	{{#if statusEnabled}}
		<div class="col">
			<h3>Status</h3>
			<a href="/api/v1/status">Status</a>
			<a href="/api/v1/state/status">Status state api</a>
		</div>
	{{/if}}

	{{#if formEnabled}}
		<div class="col">
			<h3>Form</h3>
			<a href="/api/v1/form">Form (POST)</a>
			<a href="/tools/form">Form example implementation</a>
			<a href="/api/v1/state/form">Form state api</a>
		</div>
	{{/if}}

	{{#if announcementsEnabled}}
		<div class="col">
			<h3>Announcements</h3>
			<a href="/api/v1/announcements">Announcements</a>
			<a href="/api/v1/announcements/post">Post announcement (POST)</a>
			<a href="/api/v1/announcements/delete">Delete announcement (POST)</a>
			<a href="/tools/announcements">Announcements web configuration tool</a>
			<a href="/api/v1/state/announcements">Announcements state api</a>
		</div>
	{{/if}}

	<div class="col">
		<h3>User</h3>
		<a href="/api/v1/user/signup">Signup (POST)</a>
		<a href="/api/v1/user/login">Login (POST)</a>
		<a href="/api/v1/user/delete">Delete user (POST)</a>
		<a href="/api/v1/user/changepassword">Change password (POST)</a>
		<a href="/api/v1/user/createadmin">Create admin user (POST)</a>
		<a href="/api/v1/user/changeusername">Change username (POST)</a>
		<a href="/tools/user">User web configuration tool</a>
	</div>
</div>

<style>
	.back-btn { display: none; }
</style>