<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>SegfaultAPI {{title}}</title>
		<style>
			body { padding: 1rem; background-color: #171717; color: #dddddd;
			font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			color-scheme: dark; } a { color: #00d4aa; text-decoration:
			underline; } .col { display: flex; flex-direction: column; gap:
			0.5rem; width: fit-content; }
		</style>
	</head>
	<body>
		<h1 class="back-btn"><a href="/">Back</a></h1>

		{{{body}}}
	</body>
</html>