<div class="col">
	{{#if isAdmin}}
		<h1>User signup</h1>
		<form
			action="/api/v1/user/signup"
			method="POST"
			target="_blank"
			class="col"
		>
			<input type="text" name="username" placeholder="Your username" />
			<input
				type="password"
				name="password"
				placeholder="Your password"
			/>
			<button type="submit">Submit</button>
		</form>
	{{/if}}

	<h1>User login</h1>
	<form action="/api/v1/user/login" method="POST" target="_blank" class="col">
		<input type="text" name="username" placeholder="Your username" />
		<input type="password" name="password" placeholder="Your password" />
		<button type="submit">Submit</button>
	</form>

	{{#if isLoggedIn}}
		<h1>User logout</h1>
		<form
			action="/api/v1/user/logout"
			method="POST"
			target="_blank"
			class="col"
		>
			<button type="submit">Submit</button>
		</form>
	{{/if}}

	{{#if isLoggedIn}}
		<h1>User delete</h1>
		<form
			action="/api/v1/user/delete"
			method="POST"
			target="_blank"
			class="col"
		>
			{{#if isAdmin}}
				<input
					type="text"
					name="username"
					placeholder="Username to delete"
				/>
			{{/if}}
			<button type="submit">Submit</button>
		</form>
	{{/if}}

	{{#if isLoggedIn}}
		<h1>User change password</h1>
		<form
			action="/api/v1/user/changepassword"
			method="POST"
			target="_blank"
			class="col"
		>
			{{#if isAdmin}}
				<input type="text" name="username" placeholder="Username" />
			{{/if}}
			<input
				type="password"
				name="newpassword"
				placeholder="Your new password"
			/>
			<button type="submit">Submit</button>
		</form>
	{{/if}}

	{{#unless hasAdmin}}
		<h1>Create admin user</h1>
		<form
			action="/api/v1/user/createadmin"
			method="POST"
			target="_blank"
			class="col"
		>
			<input
				type="password"
				name="password"
				placeholder="Admin password"
			/>
			<button type="submit">Submit</button>
		</form>
	{{/unless}}

	{{#if isLoggedIn}}
		<h1>User change username</h1>
		<form
			action="/api/v1/user/changeusername"
			method="POST"
			target="_blank"
			class="col"
		>
			{{#if isAdmin}}
				<input type="text" name="username" placeholder="Username" />
			{{/if}}
			<input type="text" name="newusername" placeholder="New username" />
			<button type="submit">Submit</button>
		</form>
	{{/if}}

	{{#if isAdmin}}
		<h1>Ban IP</h1>
		<form
			action="/api/v1/user/banip"
			method="POST"
			target="_blank"
			class="col"
		>
			<input type="text" name="ip" placeholder="IP to ban" />
			<input type="text" name="reason" placeholder="Reason for ban" />
			<input type="text" name="bannedBy" placeholder="Banned by" />
			<button type="submit">Submit</button>
		</form>
	{{/if}}

	{{#if isAdmin}}
		<h1>Unban IP</h1>
		<form
			action="/api/v1/user/unbanip"
			method="POST"
			target="_blank"
			class="col"
		>
			<input type="text" name="ip" placeholder="IP to unban" />
			<input type="text" name="reason" placeholder="Reason for unban" />
			<input type="text" name="unbannedBy" placeholder="Unbanned by" />
			<button type="submit">Submit</button>
		</form>
	{{/if}}
</div>